@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full antialiased;
    background-color: theme('colors.background');
    color: theme('colors.text');
  }

  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  @page {
    margin: 0;
  }
  body {
    padding: 1.5cm;
  }
}
